/* Generic styles for demo page */

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height:38px;
  width:100%;
}

body > .wrapper {
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body > .wrapper > .container {
  width: 100%;
  max-width: unset;
  margin-bottom: 80px;
}

#dropdownSelected > span:first-of-type {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.shine {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px; 
  display: inline-block;
  position: relative; 
  
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  }
